.ant-input-number-handler-wrap {
    /* Προσαρμόστε το πλάτος και το ύψος όπως επιθυμείτε */
    margin-top: 0px;
    text-align: center;
  }
  .ant-input-number{
    text-align: center;
  }
 

   